<!DOCTYPE html>
<html>
<head>
  <title>nekomamiretop</title>
</head>
<body>


  <div class="container">
      <div class="border" style="padding:20px; margin: 20px;">
        <% if @user.id == current_user.id %>
        <h1 class="text-center">まいぺ～じ</h1>
        <% else %>
        <h1 class="text-center"><%= @user.name %>さんの投稿一覧</h1>
        <% end %>


            <div class="row">
              <div class="col-3"> 
                <% if @user.id == current_user.id %>
                <div class="table-responsive">
                  <table class="table table-bordered"  style="table-layout:fixed;">
                     <td style="width:100px; padding: 50px">
                      <div class="text-center">
                   
                      <%= "address: #{@user.email}" %><br>

            <%= link_to "編集", edit_user_path(@user), class: 'btn btn-info btn-xs' %>
              <%= link_to "退会する", leave_user_path(@user), class: 'btn btn-info btn-xs' %>
          <%= link_to "お気に入り一覧", bookmark_user_path(@user), class: 'btn btn-info btn-xs' %>
                    
                     </div>
                    </td>
                  </table>
                </div>
                <% end %>

              </div>

 <div class="col-7">

          <div class="table-responsive">

<% @cat_images.each do |cat_image| %>
<table class="table table-bordered"  style="table-layout:fixed;">
              <tbody>

              <td style="width:100px;">
                <div class="text-center">
    <%= link_to cat_image_path(cat_image.id) do %>
      <%= attachment_image_tag cat_image, :image, :size =>'150x150' %>
    <% end %>
</div>
</td>

<td style="width:200px; padding: 30px 20px 20px 30px">
                <ul>
                <li><i class="fa fa-calendar fa-fw"></i><%= cat_image.created_at.strftime('%Y/%m/%d') %></li>
                 <li>
                  <i class="fas fa-cat fa-fw"></i>catname:<%= cat_image.catname %></li>

                <li><i class="fas fa-paw fa-fw"></i>memo:<%= cat_image.memo %></li>


                <div> <i class="far fa-comment fa-fw"></i>
                  <%= link_to cat_image.comments.count, cat_image_path(cat_image.id) %>
<!-- いいね -->
                   <span id="favorites_buttons_<%= cat_image.id %>">
                     <%= render 'cat_images/favorite', cat_image: cat_image %>
                   </span>
<!-- お気に入り -->
                   <span id="bookmarks_buttons_<%= cat_image.id %>">
                  <%= render 'cat_images/bookmark', cat_image: cat_image %>
                </span>
<!-- tag -->
                <div>
                  <% cat_image.tag_list.each do |tag| %>
                    #<%= link_to tag,cat_images_path(tag_name: tag) %>
                  <% end %>
                </div>
              </ul>

              </td>
              </tbody>
            </table>
            <br>
        <% end %>
          </div>
        </div>
        <div class="col-2"></div>
</div>
</div>
</div>




</body>
</html>/