 <%= attachment_image_tag @cat_image, :image, :size =>'480x320' %>

<%= form_for(@cat_image) do |f| %>
  <h4>catname</h4>
  <%= f.text_field :catname %>
  <h4>memo</h4>
  <%= f.text_field :memo %>
  <%= f.text_field :tag_list, value: @cat_image.tag_list.join(',') %>
  <%= f.submit '保存' %>
<% end %>
