

    <div class="post-meta-top">
      <div class="post-image">
        <%= attachment_image_tag @cat_image, :image, :size =>'480x320' %>
      </div>
    </div>
    <div class="post-content">
      <h2 class="post-title"><%= @cat_image.catname %></h2>
      <ul class="meta-info-cells v4 float-wrapper">
        <li>
          <i class="fa fa-user"></i>By<a href="#">
            <%= @cat_image.user.name %></a>
        </li>
        <li>
          memo:<%= @cat_image.memo %>
        </li>
        <li>
          <i class="fa fa-calendar"></i><%= @cat_image.created_at.strftime('%Y/%m/%d') %>
        </li>


          <% if @cat_image.user == current_user %>
          <li>
           <%= link_to "編集", edit_cat_image_path(@cat_image) %>
        </li>
        <li>
          <%= link_to "削除", cat_image_path(@cat_image), method: :delete %>
          <% end %>
        </li>

        <!-- いいね関係 -->
      <% if @cat_image.favorited_by?(current_user) %>
        <li>
        <%= link_to cat_image_favorites_path(@cat_image), method: :delete do %>
        <%= @cat_image.favorites.count %> ♥
        <% end %>
        </li>
      <% else %>
        <li>
        <%= link_to cat_image_favorites_path(@cat_image), method: :post do %>
        <%= @cat_image.favorites.count %> ♡
        <% end %>
        </li>
      <% end %>


        <li>
          <i class="fa fa-comment"></i>
          <%= @cat_image.comments.count %>件コメント
        </li>

        <li>
          <% if @cat_image.bookmark_by?(current_user) %>
            <%= link_to cat_image_bookmarks_path(@cat_image), method: :delete do %>
            <%= @cat_image.bookmarks.count %> ★
            <% end %>
          <% else %>
            <%= link_to cat_image_bookmarks_path(@cat_image), method: :post do %>
            <%= @cat_image.bookmarks.count %> ☆
            <% end %>
          <% end %>
        </li>

      </ul>
      </div>
    </div>


<!-- コメント関係 -->

    <%= form_for [@cat_image, @comment] do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :message, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    </div>
  </div>
  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
    <% end %>

 <% @cat_image.comments.each do |comment| %>
 <%= comment.user.name %>
 <%= comment.created_at.strftime('%Y/%m/%d') %>
 <%= comment.message %>
  <% if comment.user == current_user %>
            <div>
              <%= link_to "削除", cat_image_comment_path(comment.cat_image, comment), method: :delete, class: "btn btn-danger pull-right" %>
            </div>
  <% end %>
 <br>
 <% end %>

<!-- ツイッター共有 -->
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="お気に入りのネコちゃんです。" data-hashtags="#うちねこ見て" data-lang="ja" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>



