<!DOCTYPE html>
<html>
  <head>
    <title>NekoMamire</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
          <div class="navbar-brand">
            <%= link_to image_tag('Free_Sample_By_Wix (1)'),'/' %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-sample">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
            <ul class="nav navbar-nav navbar-right">

              <% if user_signed_in? %>
                <li class="">
                  <%= link_to "TOP", root_path %>
                </li>
                <li class="">
                  <%= link_to 'マイページ', user_path(current_user.id) %>
                </li>
                <li class="">
                  <%= link_to "うちねこ", cat_images_path %>
                </li>
                <li class="">
                  <%= link_to "ランキング", cat_images_rank_path %>
                </li>
                <li class="">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>


              <% elsif admin_signed_in? %>
                <li>
                  <% link_to "ログアウト",destroy_admin_session_path, method: :delete %>
                </li>

              <% else %>
                <li class="">
                  <%= link_to "TOP", root_path %>
                </li>
                <li class="">
                  <%= link_to "うちねこ", cat_images_path %>
                </li>
                <li class="">
                  <%= link_to "ランキング", cat_images_rank_path %>
                </li>
                <li class="">
                  <%= link_to "新規登録", new_user_registration_path %>
                </li>
                <li class="">
                  <%= link_to "ログイン", new_user_session_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>




    <%= yield %>
  </body>
</html>
